
body {
     background-color: #262626;
     font-family: 'Open Sans', sans-serif
}

/*Хедер*/
.navbar-dark .navbar-nav .nav-link {
     color: #e1b838;
}

.navbar-brand img {
     width: 237px;
     height: 148px;
}
.active {
     background-color: #e1b838;
     color: #262626 !important;
}
.navbar-nav {
     border: 3px solid #e1b838;
     font-size: 29px;
     max-width: 930px;
     margin-left: 71px;
}
.nav-link {
     min-width: 175px;
     height: 61px;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;
}
.navbar-collapse {
     flex-grow: 0;
}
.navbar {
     margin-top: 35px;
}
.navbar>.container-fluid {
justify-content: center;
}
/*Слайдер*/
.carousel {
     margin-top: 24px;
}

.slide-text-in-border {
     border: 6px solid #e1b838;
     width: 45%;
     font-family: 'Open Sans', sans-serif;
     font-weight: 800;
     font-size: 28px;
     transform: translateY(-95%);
     
}
.slide-text-in-border  h5 {
     background-color: #e1b838;
     font-family: 'Open Sans', sans-serif;
     font-weight: 800;
     font-size: 35px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 70px;
     color: #262626;
     margin-top: 0;
}
.slide-border-text{
     margin: 8px;
}
.carousel-caption {
     display: flex !important; 
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.second-border-text {
     font-size: 32px;
     letter-spacing: 3px;
     transform: translateY(-90px);

}
/*Menu*/
.dish {
     max-width: 267px;
     max-height: 259px;
}
.dish-menu h4 {
     font-size: 50px;
     color: white;
     font-family: 'Fjalla One', sans-serif;
     padding-top: 30px;
     margin-bottom: 30px;
     text-shadow: 0 13px 9px #262626;
     
}
.dish-menu {
     background-image: url(../img/bg.jpg);
     margin-top: 62px;
     margin-bottom: 62px;
     padding-bottom: 30px;
}
.dish2 {
     max-width: 300px;
     max-height: 243px;
     margin-left: 131px;
     margin-right: 131px;
}
.card {
     background-color: #ffffff00;
     color: white;
}
.card2 {
     margin-left: 131px;
     margin-right: 131px;
}
.card-body {
     border: 3px solid #e1b838;
     padding: 0;
}
.card-title {
     background-color: #e1b838;
     height: 44px;
     display: flex;
     align-items: center;
     color: #262626;
     padding-left: 10px;
     font-family: 'Open Sans', sans-serif;
     font-weight: 800;
     font-size: 24px;
}
.card-text {
     padding-left: 10px;
}
.last {
     padding-bottom: 18px;
}
.firstR {
     margin-top: 31px;
     margin-bottom: 45px;
}

/*Скидка*/
.discount {
     background-image: url(../img/bg.jpg);
     margin-bottom: 62px;
}
.disc-text {
     color: #e1b838;
     text-align: right;
     font-size: 45px;
     margin-top: 80px;
     
}
.disc-block {
     margin-bottom: 127px;
}
.disc-block, .disc-logo {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     margin-right: 100px;
}
.btn-disc {
     width: 147px;
     max-height: 40px;
     border-radius: 0;
     font-weight: 600;
     font-size: 21px;
}
.disc-logo img {
     max-width: 156px;
     max-height: 98px;
     margin-bottom: 23px;
}
.disc-logo p {
     font-family: 'Fjalla One', sans-serif;
     color: #e1b838;
     font-size: 31px;
     letter-spacing: 3px;
}