body {
     background-color: #262626;
     font-family: 'Open Sans', sans-serif
}

/*Хедер*/
.navbar-dark .navbar-nav .nav-link {
     color: #e1b838;
}

.navbar-brand img {
     width: 237px;
     height: 148px;
}
.active {
     background-color: #e1b838;
     color: #262626 !important;
}
.navbar-nav {
     border: 3px solid #e1b838;
     font-size: 29px;
     width: 930px;
}
.nav-link {
     width: 175px;
     height: 61px;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;
}
.navbar-collapse {
     flex-grow: 0;
}
